body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.header-bar {
    background-color: black;
    padding: 10px;
}

.header-bar a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.title {
    text-align: center;
}

ul {
    border-bottom: 2px solid lightgray;
    margin-left: 1%;
    margin-right: 1%;
}

li {
    display: inline-block;
    background-color: lightgray;
    padding: 10px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li:hover {
    background-color: gray;
}

.active {
    background-color: gray;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}